FINE_TUNED_ENDPOINT="projects/YOUR_PROJECT_NUMBER/locations/us/endpoints/YOUR_ENDPOINT_ID"
FINE_TUNE_DATASET_PATH="gs://your-bucket-name/data/data.csv"
OUTPUT_PATH="gs://your-bucket-name/output"
BUCKET_NAME="gs://your-bucket-name"
BASE_LLM="gemini-3.1-flash-lite"
PROJECT_ID="your-project-id"
LOCATION="us"
GOOGLE_GENAI_USE_VERTEXAI="True"
GOOGLE_CLOUD_PROJECT="your-project-id"
GOOGLE_CLOUD_LOCATION="us"
